<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.mapper.StuentmajorMapper" >
  <resultMap id="BaseResultMap" type="com.suixingpay.pojo.Stuentmajor" >
    <id column="StuId" property="stuid" jdbcType="VARCHAR" />
    <result column="Stu_type" property="stuType" jdbcType="VARCHAR" />
    <result column="Stu_College" property="stuCollege" jdbcType="VARCHAR" />
    <result column="Stu_Major" property="stuMajor" jdbcType="VARCHAR" />
    <result column="Stu_class" property="stuClass" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    StuId, Stu_type, Stu_College, Stu_Major, Stu_class
  </sql>
  <update id="updateStudent">
  UPDATE login SET password=#{password} WHERE stuId=#{stuid}
</update>
  <select id="selectStudentByStuId" resultType="com.suixingpay.pojo.Stuentmajor">
  select password,mark from login where stuId=#{stuid}
</select>

</mapper>